/* /etc/nixos/src/home/desktop/swayosd-style.css */
window {
    font-family: "@monospace@";
    font-size: 24px;
    font-weight: bold;
    color: @text@;
    background: @bg@;
    border: @borderWidth@px solid @accent@;
    border-radius: @borderRadius_island@px;
    padding: 10px 20px;
}
trough {
    background-color: @surface@;
    border-radius: @borderRadius_pill@px;
    min-height: 10px;
    min-width: 250px;
}
progress {
    background-color: @accent@;
    border-radius: @borderRadius_pill@px;
    min-height: 10px;
}
window#input-volume { padding: 10px; }
window#input-volume trough,
window#input-volume progress {
    min-height: 0; min-width: 0; margin: 0; padding: 0;
    background-color: transparent; box-shadow: none; border: none;
}
window#input-volume image { margin: 0; padding: 5px; color: @accent@; }
window#input-volume image:disabled { color: @err@; }
