/* /etc/nixos/src/home/desktop/waybar-style.css */

* {
  border: none;
  border-radius: 0;
   font-family: "@monospace@";

  font-size: 16px;
  min-height: 0;
}

window#waybar {
  background: transparent;
  color: @text@;
}

.modules-left,
.modules-center,
.modules-right {
  background: transparent;
  padding: 0;
  border: none;
}

#clock,
#workspaces,
#hyprland-window,
#custom-volume,
#custom-backlight,
#custom-mic,
#cpu,

#network,
#bluetooth,
#battery,
#custom-asus-profile,
#custom-keyboard-layout {
  background-color: @surface@;
  padding: 4px 14px;
  margin: 4px;
  border-radius: @borderRadius_pill@px;
  border: @borderWidth@px solid @border@;
}

#custom-profile {
  background-image: url("@profileImg@");
  background-size: cover;
  background-position: center;
  border-radius: 50%;
  margin: 4px 6px;
  padding: 0;
  min-width: 30px;
  min-height: 30px;
}

#workspaces button {
  color: @subtext@;
  background-color: transparent;
  padding: 0 4px;
  border-radius: @borderRadius_pill@px;
  min-width: 24px;
  transition: all 0.3s cubic-bezier(.55, -0.68, .48, 1.68);
}

#workspaces button:hover {
  background-color: @bg@;
}

#workspaces button.active {
  background-color: @ok@;
  color: @bg@;
}

@keyframes glow {
  0% { box-shadow: 0 0 3px @accent@; }
  50% { box-shadow: 0 0 10px @accent@; }
  100% { box-shadow: 0 0 3px @accent@; }
}

#hyprland-window {
  font-weight: bold;
  animation-name: glow;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

#custom-volume, #custom-mic { color: @warn@; }
#custom-backlight { color: @accent@; }


#cpu { color: @extra@; }
#network { color: @info@; }
#network.disconnected { color: @err@; }
#bluetooth { color: @accent-alt@; }
#battery { color: @ok@; }
#battery.warning { color: @warn@; }
#battery.critical { color: @err@; }

#custom-power {
  color: @bg@;
  background-color: @err@;
  padding: 4px 14px;
  margin: 4px 8px 4px 4px;
  border-radius: @borderRadius_pill@px;
  border: @borderWidth@px solid @border@;
}
