/* /etc/nixos/src/home/desktop/waybar-style.css */

* {
  border: none;
  border-radius: 0;
  font-family: "JetBrainsMono Nerd Font";
  font-size: 16px;
  min-height: 0;
}

window#waybar {
  background: transparent;
  color: @text@;
}

.modules-left,
.modules-center,
.modules-right {
  background: transparent;
  padding: 0;
  border: none;
}

#clock,
#workspaces,
#hyprland-window,
#pulseaudio,
#custom-mic,
#cpu,
#network,
#bluetooth,
#battery,
#custom-asus-profile,
#custom-keyboard-layout {
  background-color: @surface0@;
  padding: 4px 14px;
  margin: 4px;
  border-radius: @borderRadius_pill@px;
  border: @borderWidth@px solid @surface1@;
}

#custom-profile {
  background-image: url("/home/yrrrrrf/Pictures/Images/fire.png");
  background-size: cover;
  background-position: center;
  border-radius: 50%;
  margin: 4px 6px;
  padding: 0;
  min-width: 30px;
  min-height: 30px;
}

#workspaces button {
  color: @overlay0@;
  background-color: transparent;
  padding: 0 4px;
  border-radius: @borderRadius_pill@px;
  min-width: 24px;
  transition: all 0.3s cubic-bezier(.55, -0.68, .48, 1.68);
}

#workspaces button:hover {
  background-color: @base@;
}

#workspaces button.active {
  background-color: @green@;
  color: @base@;
}

@keyframes glow {
  0% { box-shadow: 0 0 3px @mauve@; }
  50% { box-shadow: 0 0 10px @mauve@; }
  100% { box-shadow: 0 0 3px @mauve@; }
}

#hyprland-window {
  font-weight: bold;
  animation-name: glow;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

#pulseaudio, #custom-mic { color: @yellow@; }
#pulseaudio.muted, #custom-mic.muted { color: @red@; }
#cpu { color: @peach@; }
#network { color: @teal@; }
#network.disconnected { color: @red@; }
#bluetooth { color: @blue@; }
#battery { color: @green@; }
#battery.warning { color: @yellow@; }
#battery.critical { color: @red@; }

#custom-power {
  color: @base@;
  background-color: @red@;
  padding: 4px 14px;
  margin: 4px 8px 4px 4px;
  border-radius: @borderRadius_pill@px;
  border: @borderWidth@px solid @surface1@;
}